<h1>This is the homepage</h1>
<div class='jumbotron'>
  <%= link_to "Sign up now", '#', class: "btn btn-danger btn-xlarge" %>
  <%= link_to "Effectato Blog", articles_path %> | <%= link_to 'About', about_path %>
</div>